body {
    background-color: ghostwhite;
}

img {
    width: 200px;
}

.heading {
    font-size: 50px;
    color: orange;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}
